{% extends 'shared/base.html' %}
{% block site_content %}
    <h1 class='text-center'>My videos</h1>
    <div class="row">
    {% for video in videos %}
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ video.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <p class="card-text">{{ video.description }}</p>
                    {{ video.created_at }}
                    <a href="{% url 'check or comment video' video.id %}" class="btn btn-primary">Check video</a>
                    <a href="{% url 'edit video' video.pk %}" class="btn btn-warning">Edit</a>

                    <a href="{% url 'delete video' video.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}